<div class="ls-slide" data-ls="slidedelay:4500;transition2d:25;">
  <img src="/images/google-data-centre.jpg" class="ls-bg" alt="Slide background"/>

  <span class="ls-s-1" style=" line-height: 45px; font-size:45px; color:#fff; top:200px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 3500; delayin : 1000;">
    A Sneak Peek <br>
    at The Internet
  </span>

  <a class="btn-u ls-s-1" href="#outline" style=" padding: 9px 20px; font-size:25px; top:340px; left: 70px; slidedirection : bottom; slideoutdirection : top; durationin : 3500; durationout : 2500; delayin : 1000; ">
    Learn more
  </a>
</div>
