<div class="ls-slide" data-ls="slidedelay:4500;transition2d:25;">
  <img src="assets/img/sliders/layer/bg1.jpg" class="ls-bg" alt="Slide background"/>

  <img class="ls-l" src="assets/img/mockup/iphone1.png" style="top: 85%; left: 44%;"
  data-ls="offsetxin:left; durationin:1500; delayin:900; fadein:false; offsetxout:left; durationout:1000; fadeout:false;" />

  <img src="assets/img/mockup/iphone.png" alt="Slider image" class="ls-s-1" style=" top:62px; left: 29%;"
  data-ls="offsetxin:left; durationin:1500; delayin:1500; fadein:false; offsetxout:left; durationout:1000; fadeout:false;">

  <span class="ls-s-1" style=" text-transform: uppercase; line-height: 45px; font-size:35px; color:#fff; top:200px; left: 590px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 3500; delayin : 1000;">
    Fully Responsive <br> Bootstrap 3 Template
  </span>

  <a class="btn-u btn-u-orange ls-s-1" href="#" style=" padding: 9px 20px; font-size:25px; top:340px; left: 590px; slidedirection : bottom; slideoutdirection : top; durationin : 3500; durationout : 2500; delayin : 1000; ">
    Download Now
  </a>
</div>
