<div class="ls-slide" data-ls="slidedelay:4500;transition2d:93;">
  <img src="<%= image_path('data-centre-2.jpg') %>" class="ls-bg" alt="Slide background">

  <span class="ls-s-1" style=" line-height: 45px; font-size:45px; color:#fff; top:100px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 3500;">
    How does The Internet really work?
  </span>

  <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #fff; font-size: 24px; top:170px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 3500; durationout : 3500; "></i>

  <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:170px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 2500; ">
    Become proficient at using network analysis tools to debug production issues.
  </span>

  <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #fff; font-size: 24px; top:220px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 4500; durationout : 3500; "></i>

  <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:220px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 4500; durationout : 3500; ">
    Discover what happens to packets as they traverse the Internet.
  </span>

  <i class="fa fa-chevron-circle-right ls-s-1" style=" color: #fff; font-size: 24px; top:270px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 5500; durationout : 4500; "></i>

  <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:270px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 5500; durationout : 4500; ">
    Learn how the Linux kernel implements its network stack.
  </span>

  <a class="btn-u ls-s-1" href="#mailing-list" style=" padding: 9px 20px; font-size:25px; top:340px; left: 40px; slidedirection : bottom; slideoutdirection : bottom; durationin : 6500; durationout : 3500; ">
    <i class="fa fa-envelope"></i> Sign up now!
  </a>
</div>
