<div class="ls-slide" style="slidedirection: right; transition2d: 92,93,105; ">
  <img src="assets/img/sliders/layer/bg2.jpg" class="ls-bg" alt="Slide background">

  <span class="ls-s-1" style=" color: #777; line-height:45px; font-weight: 200; font-size: 35px; top:100px; left: 50px; slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; ">
    Unify is Fully Responsive <br> Twitter Bootstrap 3 Template
  </span>

  <a class="btn-u btn-u-green ls-s-1" href="#" style=" padding: 9px 20px; font-size:25px; top:220px; left: 50px; slidedirection : bottom; slideoutdirection : bottom; durationin : 2000; durationout : 2000; ">
    Find Out More
  </a>

  <img src="assets/img/mockup/iphone.png" alt="Slider Image" class="ls-s-1" style=" top:30px; left: 670px; slidedirection : right; slideoutdirection : bottom; durationin : 3000; durationout : 3000; ">
</div>
