<div class="ls-slide" style="slidedirection: right; transition2d: 92,93,105; ">
  <img src="<%= image_path('network-switch.jpg') %>" class="ls-bg" alt="Slide background">

  <span class="ls-s-1" style=" color: #fff; line-height:45px; font-weight: 200; font-size: 35px; top:200px; left: 50px; slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; ">
    Exclusive bonus screencasts<sup>*</sup> for <br>
    mailing list subscribers.
  </span>

  <a class="btn-u ls-s-1" href="#mailing-list" style=" padding: 9px 20px; font-size:25px; top:320px; left: 50px; slidedirection : bottom; slideoutdirection : bottom; durationin : 2000; durationout : 2000; ">
    <i class="fa fa-envelope"></i> Subscribe now
  </a>

  <small class="ls-s-1" style="color:#fff; top:450px; left:50px;slidedirection:bottom;slideoutdirection:bottom;durationin:3000;durationout:3000">* When I start recording them!</small>
</div>
