<div id="about">
  <div class="row">
    <div class="col-md-9 animated fadeInLeft">
      <div class="headline">
        <h2>
          A Sneak Peek at The Internet
        </h2>

      </div>

      <p class="lead">
        What happens when you enter
        <a href="https://www.facebook.com/">www.facebook.com</a> into your
        web browser and hit return?
      </p>

      <p>
        A Sneak Peek at The Internet will take you on a deep dive through the
        network stack, from HTTP, SSL, TCP and IP, all the way down through
        the data link layer, back up to Facebook's data centres, and the
        return journey back to the browser.
      </p>

      <p>
        There's more fun, excitement and peril than a Disneyland rollercoaster!
      </p>

      <p>
        Sign up now for announcements about the book, blog posts covering
        some of the topics and, hopefully, some exclusive screencasts
        covering key areas.
      </p>
    </div>

    <div class="col-md-3 btn-buy animated fadeInRight" style="padding-top: 100px">
      <a href="#mailing-list" class="btn-u btn-u-lg"><i class="fa fa-envelope"></i> Subscribe Now</a>
    </div>
  </div>
</div>
