<section id="articles" style="padding-top:70px" class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="headline">
      <h2>Recent Articles</h2>
    </div>

    <p class="lead">
      I write articles on all sorts of topics, which you can find over at the
      <a href="https://blog.woss.name/">Wossname Industries</a> publication on
      Medium and, occasionally, the odd additional article on
      <a href="https://medium.com/@mathie">my own profile @ Medium</a>.  I'll
      endeavour to post relevant articles over here, too.
    </p>

    <div class="row margin-bottom-20">
      <div class="col-sm-6">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
          <div class="thumbnail-img">
            <div class="overflow-hidden">
              <img class="img-responsive" width="540" height="360" src="https://cdn-images-1.medium.com/max/600/1*YzDYSavGALu1o_wa23k7jA.png" alt="" />
            </div>
            <a class="btn-more hover-effect" href="https://blog.woss.name/on-the-connectedness-of-apps-services-33ace526d20e">read more +</a>
          </div>
          <div class="caption">
            <h3><a class="hover-effect" href="https://blog.woss.name/on-the-connectedness-of-apps-services-33ace526d20e">On the Connectedness of Apps &amp; Services</a></h3>
            <p>
              I use many apps &amp; services in my everyday life. They all connect
              to one another, but I forget how. How would I model &amp; visualise
              this web?
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
          <div class="thumbnail-img">
            <div class="overflow-hidden">
              <img class="img-responsive" src="/images/nature-forest-trees-bamboo.jpeg" alt="" />
            </div>
            <a class="btn-more hover-effect" href="#">read more +</a>
          </div>
          <div class="caption">
            <h3><a class="hover-effect" href="#">Representing Trees in PostgreSQL</a></h3>
            <p>
              Trees are a very useful data structure for modelling real world
              entities. The trouble with hierarchical data like this is that it
              doesn’t fit terribly well into our traditional relational data model,
              where we’re operating over a set of data which matches some
              particular constraint.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
