<% content_for :navbar do %>
  <li><%= link_to 'Contact Me', '', fragment: 'contact' %></li>
<% end %>

<section id="contact" class="row" style="padding-top:70px">
  <div class="col-md-10 col-md-offset-1">
    <div class="headline">
      <h2>Get in Touch</h2>
    </div>

    <p class="lead">
      Feel free to drop me an email, to <a
        href="mailto:hello@the-internet.io?subject=A%20Sneak%20Peek%20at%20The%20Internet">hello@the-internet.io</a>
      if you've any questions or comments, or just want to say "hello". You can
      also find me on Twitter as
      <a href="https://twitter.com/mathie">@mathie</a>. Or you can tap on the
      icon at the bottom right (which probably has a photo of me, and maybe
      even a wee speech bubble, encouraging you to chat!) to send me a message.
    </p>
  </div>
</section>
