<div class="header header-sticky">
  <div class="container">
    <% utm_link_to 'https://woss.name/', content: 'header logo', class: 'logo' do %>
      <img id="logo-header" class="header-logo" src="<%= image_path('logo.png') %>" alt="Wossname Industries">
    <% end %>

    <%= partial 'topbar.html' %>

    <!-- Toggle get grouped for better mobile display -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="fa fa-bars"></span>
    </button>
    <!-- End Toggle -->
  </div><!--/end container-->

  <!-- Collect the nav links, forms, and other content for toggling -->
  <%= partial 'navbar.html' %>
  <!--/navbar-collapse-->
</div>
