<section id="mailing-list" style="padding-top:70px" class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="headline">
      <h2>Mailing List</h2>
    </div>

    <p class="lead">
      Sign up to the mailing list to get updates on how the book is progressing.
      I'm planning on building some screencasts to illustrate particular topics,
      and mailing list subscribers will get exclusive first dibs on them &ndash;
      that's the quid pro quo for giving me your email address! Speaking of
      which, I promise not to do anything evil with your email address. I'll not
      sell it on to anyone else, and I'll only use it to contact you about
      relevant things.
    </p>
  </div>
</section>
