<% content_for :navbar do %>
  <li><%= link_to 'Mailing List', '', fragment: 'mailing-list' %></li>
<% end %>

<section id="mailing-list" style="padding-top:70px" class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="headline">
      <h2>Mailing List</h2>
    </div>

    <p class="lead">
      Sign up to the mailing list to get updates on how the book is progressing.
      I'm planning on building some screencasts to illustrate particular topics,
      and mailing list subscribers will get exclusive first dibs on them &ndash;
      that's the quid pro quo for giving me your email address! Speaking of
      which, I promise not to do anything evil with your email address. I'll not
      sell it on to anyone else, and I'll only use it to contact you about
      relevant things.
    </p>

    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="//woss.us1.list-manage.com/subscribe/post?u=e2954746a3d6f76209fcd2a6a&amp;id=d03a347896" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-horizontal" target="_blank" novalidate>

        <div class="mc-field-group form-group form-group-lg">
          <label class="col-sm-4 control-label" for="mce-FNAME">First Name</label>
          <div class="col-sm-6">
            <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
          </div>
        </div>

        <div class="mc-field-group form-group form-group-lg">
          <label class="col-sm-4 control-label" for="mce-LNAME">Last Name</label>
          <div class="col-sm-6">
            <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME">
          </div>
        </div>

        <div class="mc-field-group form-group form-group-lg">
          <label class="col-sm-4 control-label" for="mce-EMAIL">Email Address</label>
          <div class="col-sm-6">
            <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL">
          </div>
        </div>

        <div class="mc-field-group form-group">
          <label class="col-sm-4 control-label">Subscribe to Wossname Industries announcements too?</label>
          <div class="col-sm-6">
            <div class="radio">
              <label>
                <input type="radio" checked="checked" value="1" name="group[5133]" id="mce-group[5133]-5133-0">
                Yes, I'd like to hear occasional announcements about other Wossname Industries projects!
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" value="2" name="group[5133]" id="mce-group[5133]-5133-1">
                Thanks for the offer, but I'm only interested in A Sneak Peek at The Internet.
              </label>
            </div>
          </div>
        </div>

        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e2954746a3d6f76209fcd2a6a_d03a347896" tabindex="-1" value=""></div>

        <div class="form-group">
          <div class="col-sm-6 col-sm-offset-4">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn-u btn-u-lg">
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
