<section id="outline" class="row" style="padding-top:70px">
  <div class="col-md-10 col-md-offset-1">
    <div class="headline">
      <h2>Outline</h2>
    </div>

    <p class="lead">
      The content is still very much a work in progress, but here are some of the topics I'm aiming to include:
    </p>

    <div class="row">
      <div class="col-md-6">
        <div class="service">
          <i class="fa fa-compress service-icon"></i>
          <div class="desc">
            <h4>Application Layer Protocols</h4>
            <ul>
              <li>Hypertext Transfer Protocol (HTTP)</li>
              <li>The Domain Name System (DNS)</li>
              <li>Email message formats and mail systems, like the Simple Mail Transfer Protocol (SMTP), and Internet Mail Access Protocol (IMAP)</li>
              <li>The Secure Shell (SSH) protocol</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="service">
          <i class="fa fa-lock service-icon"></i>
          <div class="desc">
            <h4>Security</h4>
            <ul>
              <li>Secure Sockets Layer (SSL)</li>
              <li>Transport Layer Security (TLS)</li>
              <li>Certificate Management and Public Key Infrastructure (PKI)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="service">
          <i class="fa fa-rocket service-icon"></i>
          <div class="desc">
            <h4>Transport Layer Protocols</h4>
            <ul>
              <li>Transmission Control Protocol (TCP)</li>
              <li>Uniform Datagram Protocol (UDP)</li>
              <li>Newer transport protocols, like Quick UDP Internet Connections (QUIC) and Stream Control Transmission Protocol (SCTP)</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="service">
          <i class="fa fa-envelope service-icon"></i>
          <div class="desc">
            <h4>Network Layer Protocols</h4>
            <ul>
              <li>Internet Protocol, both v4 &amp; v6</li>
              <li>Internet Control Message Protocol (ICMP)</li>
              <li>Static and dynamic routing protocols</li>
              <li>IP addressing, network masks, and auto-configuration</li>
              <li>Network Address Translation (NAT) and firewalls</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="service">
          <i class="fa fa-dashboard service-icon"></i>
          <div class="desc">
            <h4>Data Link Layer Protocols</h4>
            <ul>
              <li>Broadcast, multicast and unicast traffic</li>
              <li>Address Resolution Protocol (ARP)</li>
              <li>Addressing at the data link layer (MAC addresses)</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="service">
          <i class="fa fa-fax service-icon"></i>
          <div class="desc">
            <h4>Physical Layer Protocols</h4>
            <ul>
              <li>Ethernet, switches, bridges, VLANs, and CSMA-CD</li>
              <li>Wifi, and other wireless LAN technologies</li>
              <li>Cellular wireless technologies</li>
              <li>Point-to-Point protocols (PPP)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="service">
          <i class="fa fa-terminal service-icon"></i>
          <div class="desc">
            <h4>Command line tools</h4>
            <ul>
              <li><tt>dig</tt>, <tt>nslookup</tt>, and <tt>whois</tt> for investigating DNS</li>
              <li><tt>tcpdump</tt>, <tt>tcpflow</tt>, and other <tt>libpcap</tt> tools for tracing through network traffic</li>
              <li><tt>traceroute</tt>, <tt>ping</tt>, and <tt>mtr</tt> to check out routing</li>
              <li><tt>lsof</tt>, <tt>strace</tt>, <tt>dtrace</tt> et al. to see what processes are up to</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="service">
          <i class="fa fa-files-o service-icon"></i>
          <div class="desc">
            <h4>Standardisation</h4>
            <ul>
              <li>The Internet Engineering Task Force (IETF) and Requests for Comments (RFCs)</li>
              <li>Other standards bodies like the IEEE and ITU-T</li>
              <li>General Principles of Internet Standards</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
