<section id="presentations" class="row" style="padding-top:70px">
  <div class="col-md-10 col-md-offset-1">
    <div class="headline">
      <h2>Presentations</h2>
    </div>

    <p class="lead">
      I've been taking the ideas around this topic out and about a bit, doing talks
      at conferences and local user groups. If you'd like me to come along to your
      event, please do get in touch! I'm always more than happy to get out the
      house and talk about the inner workings of the Interwebs.
    </p>

    <div class="row margin-bottom-20">
      <div class="col-sm-6">
        <div class="thumbnails thumbnail-style thumbnail-kenburn">
          <div class="thumbnail-img">
            <div class="overflow-hidden">
              <img class="img-responsive" src="<%= image_path('how-the-internet-works.png') %>" alt="" />
            </div>
            <a class="btn-more hover-effect" href="https://github.com/mathie/the-internet/blob/master/presentation.md">read more +</a>
          </div>
          <div class="caption">
            <h3>
              <a class="hover-effect" href="https://github.com/mathie/the-internet/blob/master/presentation.md">Type "google.com" into your Browser: What Happens Next?</a>
              <small>
                Wednesday, 22 July 2015 &ndash; O'Reilly Open Source Convention 2015, Portland, OR
                [ <a style="font-size: 100%; color #777;" href="http://www.slideshare.net/mathie/type-googlecom-into-the-browser-and-hit-enter-what-happens-next">Slides</a> ]
              </small>
            </h3>
            <p>
              I haven’t done any interviewing for a while but I went through a
              period of growth in one of the companies I worked for where we were
              feverishly expanding the development team, so we had to be a little
              more systematic in our approach to interviewing. Instead of just
              having an open conversation with candidates to see where it led
              (which is what I’d previously done in such situations), I wound up
              preparing a ‘standard’ set of questions. It took a few goes, but
              eventually I settled on a favourite question for the technical
              portion of the interview:
            </p>

            <blockquote>
              <p>
                When I pull up my favourite Internet browser, type “google.com”
                into the address bar, and press return, what happens?
              </p>
            </blockquote>

            <p>
              I reckon it’s a doozy of a technical question. There’s so much
              breadth and depth in that answer. Let's dig into it a bit
              more&hellip;
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="thumbnails thumbnail-style">
          <div class="thumbnail-img">
            <div class="overflow-hidden">
              <img class="img-responsive" src="<%= image_path('resolving-names.001.jpeg') %>" alt="" />
            </div>
            <a class="btn-more hover-effect" href="https://youtu.be/3ifeFIiOacA?t=13m18s">watch now +</a>
          </div>
          <div class="caption">
            <h3>
              <a class="hover-effect" href="https://youtu.be/3ifeFIiOacA?t=13m18s">Resolving Names</a><br>
              <small>
                Friday, 13 March 2015 &ndash; Bath Ruby Conference, Bath, UK
                [ <a style="font-size: 100%; color #777;" href="http://www.slideshare.net/mathie/resolving-names">Slides</a> ]
              </small>
            </h3>
            <p>
              I gave a lightning talk at the Bath Ruby Conference on how domain
              names are resolved. Trying to pack 100ms of network chatter into 5
              minutes proved tricky! 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
