<div class="topbar">
  <ul class="loginbar pull-right">
    <li>
      <a href="https://woss.name/">
        <i class="fa fa-globe"></i>
        Wossname Industries
      </a>
    </li>
    <li class="topbar-devider"></li>
    <li><a href="https://blog.woss.name/">Blog</a></li>
  </ul>
</div>
