<div class="topbar">
  <ul class="loginbar pull-right">
    <li>
      <% utm_link_to 'https://woss.name/', content: 'Wossname Industries' do %>
        <i class="fa fa-globe"></i>
        Wossname Industries
      <% end %>
    </li>
    <li class="topbar-devider"></li>
    <li><a href="https://blog.woss.name/">Blog</a></li>
  </ul>
</div>
